future
matplotlib>=2.2.0
pandas>=0.22
pandas-datareader>=0.7.0
chart_studio
plotly
zipline>=1.4.1
numpy>=1.14
alphalens
pyfolio
qgrid
quandl
ta-lib
#------------jupyter
jupyter_nbextensions_configurator 
jupyter_contrib_nbextensions
